/* This is a CSS Comment */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 246, 255);
    font-size: 1rem;
    margin: 60px;
  }
  
  .center {
    text-align: center;
    margin-bottom: 100px;
  }
  
  .center h1 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .center p {
    font-size: 18px;
  }
  a {
    color: rgb(96, 108, 161);
    font-weight: bold;
    text-decoration: none;
  }
  
  a:hover {
    color: #9fa8da;
  }
  
  .list {
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(94, 93, 93);
  }
  
  blockquote {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: italic;
  }
  
  footer {
    color: rgb(94, 93, 93);
    text-align: center;
    margin-top: 60px;
  }
  
  cite {
    font-weight: bold;
  }
  